<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
	<httpRuntime maxRequestLength="1048576" executionTimeout="3600" maxUrlLength="2048" />
    </system.web>	
    <system.webServer>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
        <directoryBrowse enabled="false" showFlags="Size, Extension" />
        <caching enabled="false" enableKernelCache="false" />
        <httpProtocol allowKeepAlive="true" />
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
        <defaultDocument enabled="true">
            <files>
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
                <remove value="iisstart.htm" />
                <remove value="default.aspx" />
                <add value="index.shtml" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
